body {
    background-image: url("pexels-cottonbro-5435310.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 80px;
    color: white;
    text-align: center;
    opacity: 1;
    }

    div {
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 10%;
        left: 30%;
        animation: fadeIn ease 20s;
        width:50%;
    }
    
    h2{
        font-family: 'Fredericka the Great', cursive;
        font-size: 30px;
        color: white;
        text-transform: none;
        text-align: center;
        opacity: 1;
        
        }
        
      
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
 img {
    display: block; 
    margin: 0px auto;
     height: 300px;
     width:175px;
 }

 a {
     color:white;
     border-radius: 20px;
     text-align:center;
     width:50%;
     font-size:50px;
     display:block;
     margin: 0 auto;
     font-family: 'UnifrakturCook', cursive;
     text-decoration: none;
     background-color: black;

 }

 footer {
     position: absolute;
     bottom: 10px;
     font-size:15px;
     color:black;
     text-align: center;
     background-color: white;
     display: block;
    width:40%;
    left:30%;
     padding:5px;
     border-radius: 5px;
 }